
 <link rel = "stylesheet" href="css/styles.css">
 
<footer class="pie">
    
     <div class="header">
        <div class="logo_g3">
            <img src="images/Logo_G3.jpg" alt="logo de G3">
            <p class="logotipo">Hardware</p>
        </div>
        <div class="redes">
            <span class="fcb"><img src="images/logo_facebook.png" alt="logo de facebook"></span>
            <span class="ins"><img src="images/logo_instagram.png" alt="logo de instagram"></span>
            <span class="twi"><img src="images/logo_twitter.png" alt="logo de twitter"></span>
        </div>
     </div>
     <hr>
     <div class="section">
        <div>
            <h5>Nuestra Empresa</h5>
        </div>
        <div>
            <h5>Contactanos</h5>
        </div>
        <div>
            <h5>Preguntas Frecuentes</h5>
        </div>
        <div>
            <h5>Términos y Condiciones</h5>
        </div>
     </div>
     <div class="derechos">
        <p>G3 Hardware 2022 - Todos los Derechos Reservados</p>
     </div>   
    </footer>