<link rel = "stylesheet" href="css/styles.css">



<header>
    <div class="header_logo-buscador">
        <div class="logo">
            <img src="images/Logo_G3.jpg" alt="Logo"/>
        </div>
        <div class="buscador">
            <input class = "texto" type="text" placeholder="Buscar productos"> <img class="lupa" src="images/lupa.png" alt="lupa">
        </div>
        <div>
            <a class="login" href="/users/login" target ="_blank" >Ingresar</a><img class ="loginimage" src="images/login.png" alt="login">
        </div>
        <div>
            <img class = "carrito de busqueda" src="images/carrito.png" alt="Carrito">
        </div>
        <div>
            <a class="register" href="/users/register" target = "_blank">Registrarse</a><img class="registerimage" src="images/register.png"alt="register">
        </div>
    </div>
</header> 