<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
        <link rel = "stylesheet" href="css/styles.css">
        <title>G3 Hardware y Software</title>
    </head>

<header>
    <div class="header_logo-buscador">
        <div class="logo">
            <img src="images/Logo_G3.jpg" alt="Logo"/>
        </div>
        <div class="buscador">
            <input class = "texto" type="text" placeholder="Buscar productos"> <img class="lupa" src="images/lupa.png" alt="lupa">
        </div>
        <div>
            <a class="login" href="/users/login" target ="_blank" >Ingresar</a><img class ="loginimage" src="images/login.png" alt="login">
        </div>
        <div>
            <img class = "carrito de busqueda" src="images/carrito.png" alt="Carrito">
        </div>
        <div>
            <a class="register" href="/users/register" target = "_blank">Registrarse</a><img class="registerimage" src="images/register.png"alt="register">
        </div>
    </div>
</header>

<body>


   <div class="contenedor_nav">
    <div><h4>Productos</h4>

        <div>
        <h5>Pcs</h5>
        </div>
        <div>
        <h5>Componentes </h5>
        </div>
        <div>
        <h5>Periféricos</h5>
        </div>
        <div>
        <h5>Notebooks   </h5>
        </div>
        <div>
        <h5>Monitores</h5>
        </div>
    </div>
   </div>

    <div class="ofertas_especiales">
        <h4>Ofertas Especiales</h4>
      <div class="contenedor_productos">

        <div class="linea1">
            <img src="images/img_monitor.jpg" alt="imagen de monitor">
            <img src="images/img_notebook.jpg" alt="imagen de notebook">
            <img src="images/img_componente.jpg" alt="imagen de componente">
            <img src="images/img_PC.jpg" alt="imagen de PC">
        </div>
      </div>

      <div class="linea_mas_vendidos">
        <h4>Más Vendidos</h4>
        <div class="mas_vendidos">
          <img src="images/img_placa_video.png" alt="imagen de placa">
          <img src="images/img_motherboard.jpg" alt="imagen de motherboard">
         <img src="images/img_pendrive.jpg" alt="imagen de pendrive">
       </div>
    </div>   
</div>

<!-- NOSOTROS -->

<section>
    <h4>Nosotros:</h4>
    <h5> ¿quienes somos?</h5>
     <p>Trabajamos sin desviarnos de la firme visión que nos trazamos: «Ser referentes a nivel nacional como proveedores de soluciones tecnológicas de gran calidad y eficiencia».
        Somos una empresa de servicio que nos dedicamos a comercializar e integrar tecnología con el fin de brindar soluciones a diversas industrias y organizaciones privadas y públicas en diferentes puntos de Argentina.
        Nuestra ventaja competitiva es brindar valor agregado a nuestros clientes a través de un servicio profesional, ya que les proveemos productos de primera línea junto con un asesoramiento personalizado, con una relación precio–calidad muy conveniente.
        Desde el año 1997 ofrecemos soluciones completas y a medida de las necesidades de nuestros clientes.
     </p>
    </section>



 <!-- SUCURSALES -->

<div class="container">

    <div class="card">
         <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0111254447165!2d-58.413178384770355!3d-34.60388018045942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca8c854bd13f%3A0xfc0cf5c054da4aa1!2sAbasto%20Shopping!5e0!3m2!1ses-419!2sar!4v1669944826962!5m2!1ses-419!2sar" ></iframe>
         </div>


       <div class="contenido">
        <h3>Abasto Shopping</h3>
              <p>Av. Corrientes 3217        </p>
              <p>  Venta, entrega de artículos y cobranza de cuotas LU/JU: 10:00 a 21:00hs/ JU/DO: 12:00 a 21:00hs</p>
       </div>   

    </div>



     <div class="card">
         <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.1361382954433!2d-58.37051173635832!3d-34.67651339513392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a33334248ec25d%3A0x438c219aee66c1bb!2sAlto%20Avellaneda%20Shopping!5e0!3m2!1ses-419!2sar!4v1669946730271!5m2!1ses-419!2sar"></iframe>
        </div>

         <div class="contenido">
           <h3>Alto Avellaneda Shopping</h3>
           <p>Gral. Guemes 897</p></p>
            <p>Venta, entrega de artículos y cobranza de cuotas LU/JU: 10:00 a 21:00hs/ VI/DO: 10:00 a 22:00hs     </p>
         </div> 

   </div>



   <div class="card">
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7781.619585265843!2d-57.95930535299592!3d-34.91227102261403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e60835022a47%3A0x357f626d09b88cb7!2sLa%20Plata%20Centro%20(Caja%20Express)!5e0!3m2!1ses-419!2sar!4v1669947344306!5m2!1ses-419!2sar" ></iframe>
    </div>

 <div class="contenido">
     <h3>La Plata</h3>
     <p>Calle 8 788</p>
     <p>Venta, entrega de artículos y cobranza de cuotas LU/SA: 09:00 a 20:00hs  </p>

 </div>   

</div>
</div>
   
 



    <footer class="pie">

     <div class="header">
        <div class="logo_g3">
            <img src="images/Logo_G3.jpg" alt="logo de G3">
            <p class="logotipo">Hardware</p>
        </div>
        <div class="redes">
            <span class="fcb"><img src="images/logo_facebook.png" alt="logo de facebook"></span>
            <span class="ins"><img src="images/logo_instagram.png" alt="logo de instagram"></span>
            <span class="twi"><img src="images/logo_twitter.png" alt="logo de twitter"></span>
        </div>
     </div>
     <hr>
     <div class="section">
       

     <div>
        <h5>Nuestra empresa</h5>

     </div>
        
        <div>
            <h5>Contactanos</h5>
        </div>
        <div>
            <h5>Preguntas Frecuentes</h5>
        </div>
        <div>
            <h5>Términos y Condiciones</h5>
        </div>
     </div>
     <div class="derechos">
        <p>G3 Hardware 2022 - Todos los Derechos Reservados</p>
     </div>
    </footer>
</body>
</html>
