*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: #EAC926;
}

.header_logo-buscador{
    display: flex;
}

/*logo */

.logo {
    display: flex;
    width: 24vw;
}

/* Barra de busqueda */

.buscador {
    display: flex;
    height: 100px;
    padding-top: 70px;
    margin-left: -118px;
}

/* Texto */

.texto{
    display: flex;
    font-size: 16px;
    border-radius: 0.3em;
    width: 551px;
}

/* lupa */

.lupa{
    display: flex;
    padding: 1px;
    border-radius: 0.3em;
    height: 94%;
    width: 35px;
    margin-left: -35px;
    margin-top: 1px;
}

/* Login */

.login{
    display: flex;
    font-size: 21px;
    margin-left: 97px;
    margin-top: 72px;
    width: 92px;
    border: none;
    background: none;
    font-weight: 400;
    text-decoration: none;
    color: black;
    height: 29px;
}

/*imagen login */

.loginimage{
    display: flex;
    padding: 0px;
    height: 19%;
    width: 28px;
    margin-left: 163px;
    margin-top: -30px;
}

/* Carrito */

.carrito{
    display: flex;
    padding: 0px;
    height: 27%;
    width: 43px;
    margin-left: 184px;
    margin-top: 63px;
}

/*register */

.register{
    display: flex;
    font-size: 21px;
    margin-left: -226px;
    margin-top: 73px;
    width: 50px;
    border: none;
    background: none;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

/*imagen register */

.registerimage{
    display: flex;
    padding: 0px;
    height: 19%;
    width: 28px;
    margin-left: -124px;
    margin-top: -30px;
}

/*  -----BODY-----  */

img {/*tamaño de las imagenes*/
    width: 40%;
    margin: 10px;
    padding: 10px;
} 

.contenedor_nav{
    background-color: greenyellow;
    display: flex;
    flex-direction: column-reverse;
    margin: 2px;
    justify-content: space-evenly;
}

/*OFERTAS ESPECIALES*/

.contenedor_productos{
    background-color: rgb(105, 141, 65);
    display: flex;
    flex-direction: column-reverse;
    margin: 1px;
    justify-content: space-evenly;
}

.linea1{
    padding: 30px;
    margin-left: 15%;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

h4{
    background-color: rgb(105, 141, 65);
    margin: 1px;
    text-align: center;
    font-size: 30px;
    color: #EAC926;
}

h5{
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

/*Mas Vendidos*/

.mas_vendidos{
    padding: 30px;
    margin-left: 2%;
    display: flex;
    align-items: center;
    width: 75%;    
}

.linea_mas_vendidos{
    background-color: greenyellow;
    margin: 1px;
    padding: 10px;
    float: left;   
}

/*FOOTER*/

.pie{
    background-color: #333333;
    margin: -10px;
}

.logo_g3{
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.redes{
    display: flex;
    justify-content: space-evenly;
}

.fcb{
    width: 130px;
    display: flex;
    margin-left: 800px;
}

.ins{
    width: 130px;
    display: flex;
    margin-left: -90px;
}

.twi{
    width: 130px;
    display: flex;
    margin-left: -90px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo{
    font-size: 20px;
    color: white;
    margin-left: -5px;
}

.section{
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    color: grey;
    font-size: 20px;
    padding: 30px;
}

.derechos{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    background-color: black;
    color: rgba(255, 255, 255, 0.836);
}
