<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet"/>
   
    <title> G3 (login)</title>
</head>



<body>
    <!-- Encabezado -->
   <header>
      <img     class="imagenLogo"  src="/public/images/Logo_G3.jpg"   alt="Logo G3"  />
   </header>

<!-- Centro -->

  <main>
   <div class="contenedor-formulario">
     <h3>Ingresar</h3>
     <form action="/login" method="get" class="form-group">
   
        <div class="subname">
          <label for="nombre-usuario"></label>
          <input type="text"  id="nombre-usuario" name="nombre-usuario" placeholder="Nombre de usuario">
       </div>

       <div class="pass">
          <label for="pass"></label>
         <input type="password" id="pass" name="pass" placeholder="Contraseña">
        </div>


       <div class="button-send">
          <a href="/">
          <button type="button">Ingresar</button>
        </a>
      </div>

      </form>
    </div>
  </main>
  
<!-- Pie de la pagina -->
  <footer>

  </footer>  
</body>
</html>